:root {
    --biloba-flower: #c5adef;
    --black: #3e3f58;
    --black-squeeze: #ecf1f8;
    --bombay: #b2b3bb;
    --color_dark_gray: #3e4056;
    --gradient: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
    --mandy: #ed5267;
    --red: #f05d63;
    --white: #ffffff;
}
